#  conda install -c conda-forge libstdcxx-ng>=13 libgcc-ng>=13  gxx_linux-64
# -f https://data.pyg.org/whl/torch-2.7.1+cu128.html
# torch==2.7.1 --index-url  https://download.pytorch.org/whl/cu128
# torch==2.3.1

psutil
yacs
trimesh
boto3
tetgen
pymeshlab
plyfile
einops
libigl
potpourri3d
simple_parsing
arrgh
safetensors
seaborn

vtk
PyMCubes
# git+https://github.com/eliphatfs/cumesh2sdf.git

# torch-scatter -f https://data.pyg.org/whl/torch-2.7.1+cu118.html